<div class="max-w-3xl mx-auto pb-56">
  <a href={~p"/"} class="btn btn-sm mb-6">← Back to home</a>

  <h1 class="text-3x1 font-bold mb-4">{@slug}</h1>

  <article class="prose prose-lg prose-slate dark:prose-invert max-w-none">
    {raw(@article_html)}
  </article>
</div>
